// TABS

.v-tabs-slider-wrapper {
  height: 4px !important;
}

.v-tab {
  padding: 0;
  margin-right: 40px;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 0;
}

.v-btn {
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0;
}
