
// Globals
$body-font-family: 'Open Sans', sans-serif;
$btn-font-weight: 700 !default;
$btn-letter-spacing: 0;
$border-radius-root: 5px;
$font-size-root: 16px;
$tabs-item-padding: 17px;
$tab-font-weight: 400;
$tab-font-size: 20px;
$tabs-item-padding: 20px;
@import '~vuetify/src/styles/main.sass';